.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1.5rem;
}

.card:hover svg {
  transform: scale(1.1);
}

.card:hover p {
  color: #155dfc;
}

.card:hover button {
  border: 1px solid #155dfc;
}

.card mat-icon {
  color: #fff;
  background-color: #155dfc;
  border-radius: 100%;
  padding: 1.2rem;
  margin: auto;
  transition: all 0.3s ease;
}

.card-title span {
  font-size: 0.875rem;
  color: rgb(141, 141, 141);
}

.card button {
  margin-top: auto;
  padding: 0.75rem 1.5rem;
  border: 1px solid #dcdddf;
  border-radius: 0.5rem;
  background-color: #f2f4f7;
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: #e1e3e8;
}
